/*reset css*/
body,h1,h2,h3,h4,dl,dt,dd,ul,ol,li,p,table,th,td,input,button,textarea{margin:0;padding:0;}
table{border-spacing:0;}
input,button { border:none; outline:none;}
i,em,dfn{font-style:normal;}
li{list-style:none;}
body{font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;color: #3C3C3C;}
textarea { outline: none; resize: none;}
a, s,a:hover{color:#333;text-decoration: none;}
img{vertical-align: middle;border: none;}
h2,h3,h4 { font-family: tahoma,arial,'Hiragino Sans GB',"Microsoft YaHei","黑体",sans-serif;}


/*公共样式*/
.clearfix{ *zoom: 1;}
.clearfix:after {content: ""; display: block; clear: both;}
.fl { float: left;}
.fr { float: right;}

.mTop {
	margin-top: 14px;
}
.mLeft {
	margin-left: -1px;
}
.m_16 {
	margin-right:16px;
}
.m_26 {
	margin-right:26px;
}
.m_22 {
	margin-right:22px;
}