.ma_rect {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden; }
  @media screen and (max-width: 1189px) {
    .ma_rect {
      width: 990px; }
      .ma_rect .Shoe_bag {
        width: 688px; }
      .ma_rect .shoe_bag_info {
        width: 220px; } }

.Shoe_bag {
  width: 888px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #E8E8E8; }

.border_hover:hover {
  border: 1px solid #F40;
  z-index: 30; }
  .border_hover:hover h3 {
    border-color: transparent; }

.shoe_bag_info {
  width: 408px; }

.market_info {
  overflow: hidden; }
  .market_info h3 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 13px;
    height: 20px;
    border-left: 2px solid #F40; }
    .market_info h3 a {
      font-size: 15px; }
  .market_info ul {
    padding-top: 12px;
    padding-left: 12px; }
  .market_info li {
    overflow: hidden;
    height: 30px;
    line-height: 30px; }
  .market_info ul a {
    display: inline-block;
    margin-right: 5px; }
    .market_info ul a:hover {
      color: #F40; }
    .market_info ul a strong {
      display: inline-block;
      width: 52px; }

.ifashion_pics {
  width: 452px;
  overflow: hidden;
  height: 280px; }

.banner_wrapper .item1 {
  width: 135px;
  height: 135px; }
  .banner_wrapper .item1 img {
    width: 135px;
    height: 135px;
    margin-bottom: 8px; }
.banner_wrapper .item2 {
  width: 140px;
  height: 280px; }
  .banner_wrapper .item2 img {
    width: 140px;
    height: 280px; }
  .banner_wrapper .item2 p {
    bottom: 0; }
.banner_wrapper dd {
  float: left;
  margin-left: 10px; }
.banner_wrapper a {
  display: block;
  position: relative; }
  .banner_wrapper a p {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    color: #FFF;
    text-align: center;
    background: rgba(255, 68, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ff4400,endcolorstr=#ff4400); }
  .banner_wrapper a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }
  .banner_wrapper a:hover p {
    background: #ff4400; }

.little_info {
  height: 20px;
  white-space: nowrap; }

.slogon {
  filter: none;
  transition: all .6s ease-in-out;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin-top: -3px;
  margin-left: 8px;
  border: 1px solid #f5dead;
  background: #f8f5da;
  color: #c65c22;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  border-radius: 2px;
  *display: inline;
  *margin-top: 6px;
  *zoom: 1; }
  .slogon .little {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    left: -5px;
    top: 3px;
    font-size: 0;
    line-height: 0;
    border-right-color: #f5dead;
    left: -6px; }
  .slogon em {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    left: -5px;
    top: 3px;
    font-size: 0;
    line-height: 0;
    border-right-color: #f8f5da; }

.market_wrapper {
  width: 890px; }
  @media screen and (max-width: 1189px) {
    .market_wrapper {
      width: 690px; }
      .market_wrapper .market_fl p {
        width: 105px;
        height: 80px;
        position: relative;
        vertical-align: top;
        overflow: hidden; }
      .market_wrapper .banner_m {
        margin-left: 32px; }
      .market_wrapper .market_fl {
        width: 330px; }
      .market_wrapper ul {
        width: 150px;
        margin-right: 2px; } }

.market_fl {
  border: 1px solid #E8E8E8;
  padding: 15px 13px 15px 0;
  height: 228px;
  width: 430px;
  position: relative; }
  .market_fl .p_border {
    margin-left: 15px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 16px; }
  .market_fl p {
    display: inline-block;
    width: 206px;
    line-height: 22px;
    margin-top: 15px; }
    .market_fl p a {
      display: inline-block;
      width: 206px; }
    .market_fl p span {
      display: inline-block;
      width: 84px;
      height: 48px;
      overflow: hidden; }
    .market_fl p strong {
      white-space: nowrap; }
    .market_fl p a:hover span {
      color: #F40; }
    .market_fl p a:hover img {
      transition: opacity .2s ease-in-out;
      opacity: .8; }
  .market_fl img {
    width: 100px;
    height: 80px;
    margin-right: 8px; }
  .market_fl span {
    *display: inline-block;
    *width: 80px;
    height: 48px;
    overflow: hidden;
    margin-top: 3px;
    white-space: normal;
    color: #6C6C6C; }

.tanx_wrapper {
  width: 890px;
  margin: 12px 0; }
  @media screen and (max-width: 1189px) {
    .tanx_wrapper {
      width: 690px;
      overflow: hidden; } }
  .tanx_wrapper a {
    display: block; }

/* market_electronic */
.market_electronic {
  padding-top: 15px;
  border: 1px solid #E8E8E8; }
  @media screen and (max-width: 1189px) {
    .market_electronic dl {
      width: 340px;
      overflow: hidden; }
    .market_electronic ul {
      width: 160px; } }
  .market_electronic:hover {
    border: 1px solid #2eb5e7; }
  .market_electronic h3 {
    border: none;
    padding-left: 15px; }
    .market_electronic h3 a {
      vertical-align: middle;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      background-size: 229px 193px;
      background: url(../img/Sprite2.png) no-repeat 0 -58px;
      *background: none;
      width: 94px;
      height: 20px;
      *width: 0;
      *height: 0; }
  .market_electronic dl {
    margin-left: 15px;
    margin-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E8E8E8;
    height: 80px;
    overflow: hidden;
    white-space: nowrap; }
    .market_electronic dl dd {
      *float: left;
      display: inline-block;
      width: 170px;
      height: 70px;
      overflow: hidden;
      white-space: nowrap; }
      .market_electronic dl dd img {
        width: 80px;
        height: 70px;
        margin-right: 8px; }
      .market_electronic dl dd p {
        width: 82px; }
      .market_electronic dl dd span, .market_electronic dl dd em {
        display: block;
        width: 100%;
        margin-bottom: 4px; }
      .market_electronic dl dd span {
        line-height: 18px;
        color: #6C6C6C; }
      .market_electronic dl dd strong {
        color: #FFF;
        background: #F40;
        padding: 2px 5px;
        text-align: center;
        line-height: 26px; }
    .market_electronic dl a:hover span {
      color: #F40; }
  .market_electronic a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }

.electronic_rmd {
  width: 320px;
  margin-top: -15px; }
  .electronic_rmd a {
    display: block;
    position: relative;
    cursor: pointer; }
  .electronic_rmd span {
    overflow: hidden;
    position: absolute;
    top: 54px;
    left: 10px;
    max-width: 158px;
    *width: 158px;
    height: 44px;
    padding: 6px;
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.6);
    background-color: #000 \9;
    filter: alpha(opacity=60); }
  .electronic_rmd em {
    font-weight: 700;
    font-size: 14px;
    display: block;
    height: 20px;
    overflow: hidden; }
  .electronic_rmd p {
    padding: 8px 0 0 20px;
    height: 62px;
    overflow: hidden;
    background-color: #EFEFEF; }
    .electronic_rmd p a {
      display: inline-block;
      margin-right: 12px;
      height: 26px;
      line-height: 26px;
      width: 130px;
      overflow: hidden; }
      .electronic_rmd p a:hover {
        color: #F40; }
  .electronic_rmd a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }

/* eat */
.eat h3 {
  width: 54px;
  height: 20px;
  background-position: -91px -78px;
  padding-left: 0;
  *background: none;
  *width: 0;
  *height: 0;
  *padding-left: 6px; }
.eat .eat_img {
  height: 98px;
  padding-bottom: 12px;
  overflow: hidden; }
  .eat .eat_img a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }
  .eat .eat_img dd {
    position: relative;
    width: 70px;
    margin: 15px; }
  .eat .eat_img img {
    width: 70px;
    height: 70px;
    border-radius: 100%; }
  .eat .eat_img strong {
    position: absolute;
    padding: 0 8px;
    bottom: -5px;
    left: 0;
    background-color: #ff4a00;
    color: #FFF;
    line-height: 16px;
    height: 16px;
    font-weight: 400; }
  .eat .eat_img .banner_green {
    background-color: #31a500; }
  .eat .eat_img .banner_green em {
    border-color: #31a500 #FFF #31a500 #31a500; }
  .eat .eat_img em {
    position: absolute;
    right: -8px;
    bottom: 0;
    border: 8px solid #ff4a00;
    border-right-color: #FFF;
    font-size: 0;
    line-height: 0; }

.children img {
  width: 100px;
  height: 80px; }

.Sprite h3 {
  margin-left: 15px;
  border-left: none;
  vertical-align: middle;
  display: inline-block;
  background-size: 229px 193px;
  background-image: url(../img/Sprite2.png);
  background-repeat: no-repeat; }

/* home */
.home {
  padding-bottom: 0; }
  .home:hover {
    border: 1px solid #ffcb00; }
  .home h3 {
    background-position: -146px -48px;
    width: 80px;
    height: 20px; }
  .home .market_info {
    width: 554px; }
    .home .market_info li {
      width: 190px;
      overflow: hidden; }
    @media screen and (max-width: 1189px) {
      .home .market_info {
        width: 350px; }
        .home .market_info li {
          width: 160px; }
        .home .market_info .home_ab {
          width: 170px; } }
    .home .market_info a:hover span {
      background-color: #fff;
      color: #F40; }
    .home .market_info a:hover img {
      transition: opacity .2s ease-in-out;
      opacity: .8; }
  .home .home_t {
    height: 20px;
    line-height: 20px; }
  .home dd {
    float: left; }
    .home dd i {
      color: #cbcbcb; }
    .home dd a:hover {
      color: #F40; }
  .home .home_ab {
    width: 356px;
    height: 240px;
    margin-left: -5px;
    margin-top: 18px; }
    .home .home_ab p {
      float: left;
      width: 170px;
      height: 110px;
      margin-left: 8px;
      margin-bottom: 10px;
      _margin-right: 0;
      _display: inline;
      position: relative;
      line-height: 28px;
      text-align: center; }
      .home .home_ab p span {
        display: block;
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: 0;
        height: 28px;
        width: 118px;
        color: #3C3C3C;
        background-color: rgba(255, 255, 255, 0.8);
        background-color: #fff\9;
        filter: alpha(opacity=80); }
      .home .home_ab p strong {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 52px;
        color: #FFF;
        background: rgba(255, 202, 0, 0.9);
        background-color: #ffca00\9;
        filter: alpha(opacity=90); }
  .home .electronic_rmd ul {
    height: 60px;
    background-color: #ffd255; }
    .home .electronic_rmd ul li {
      display: inline-block;
      width: 104px;
      height: 60px;
      *display: inline;
      *zoom: 1; }
    .home .electronic_rmd ul a {
      display: inline-block;
      width: 104px;
      height: 60px;
      overflow: hidden; }
      .home .electronic_rmd ul a:hover img {
        transition: box-shadow .2s ease-in-out;
        box-shadow: 0 0 10px #B59224; }
    .home .electronic_rmd ul img {
      width: 36px;
      height: 36px;
      margin: 12px;
      float: left;
      border-radius: 100%; }
    .home .electronic_rmd ul i {
      display: inline-block;
      font-size: 14px;
      width: 28px;
      height: 32px;
      line-height: 16px;
      margin-top: 14px;
      color: #3C3C3C; }
  .home .electronic_rmd p {
    background-color: #FFF8E3; }

.market_gather {
  width: 888px;
  border: 1px solid #E8E8E8; }
  @media screen and (max-width: 1189px) {
    .market_gather {
      width: 688px; }
      .market_gather .gather_info_fl {
        width: 342px;
        height: 190px;
        overflow: hidden; }
        .market_gather .gather_info_fl dl {
          width: 342px;
          height: 110px;
          overflow: hidden; }
          .market_gather .gather_info_fl dl dd a {
            margin-right: 0; }
        .market_gather .gather_info_fl ul {
          height: 72px;
          margin-right: 0;
          overflow: hidden; } }

.gather_t li {
  width: 98px;
  border-top: 2px solid transparent;
  font-weight: 700;
  height: 28px;
  margin-top: -1px;
  float: left;
  cursor: pointer;
  text-align: center; }
  .gather_t li:hover em {
    color: #3C3C3C; }
.gather_t .selected {
  border-top-color: #F40; }
  .gather_t .selected em {
    color: #3C3C3C; }
.gather_t em {
  font-size: 15px;
  display: block;
  margin-top: 8px;
  border-right: 1px solid #e8e8e8;
  padding: 0 15px;
  color: #826C6C; }

.gather_info {
  overflow: hidden;
  padding: 20px 0 14px 15px; }
  .gather_info dd {
    float: left;
    cursor: pointer; }
    .gather_info dd a {
      float: left;
      position: relative;
      width: 170px;
      height: 110px;
      overflow: hidden;
      margin-right: 10px; }
      .gather_info dd a:hover span {
        background-color: #fff;
        color: #F40; }
      .gather_info dd a:hover img {
        transition: opacity .2s ease-in-out;
        opacity: .8; }
      .gather_info dd a img {
        width: 170px;
        height: 110px; }
      .gather_info dd a span {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        text-align: center;
        height: 28px;
        line-height: 28px;
        background-color: rgba(255, 255, 255, 0.8);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#CCFFFFFF', EndColorStr='#CCFFFFFF'); }
  .gather_info ul {
    padding-top: 12px;
    width: 170px;
    margin-right: 10px; }
    .gather_info ul li {
      overflow: hidden;
      height: 30px;
      line-height: 30px; }
    .gather_info ul strong {
      display: inline-block;
      width: 52px; }
    .gather_info ul a {
      margin-right: 5px; }
      .gather_info ul a:hover {
        color: #F40; }

.panne2, .panne3, .panne4 {
  display: none; }

/* The right side of the goods */
.rect_wrap_fr {
  width: 290px; }

.tb_apps {
  position: relative;
  padding: 16px 15px;
  border: 1px solid #EEE;
  margin-top: -1px;
  height: 60px; }
  .tb_apps h3 a {
    color: #3C3C3C; }
  .tb_apps ul {
    padding-top: 8px; }
    .tb_apps ul li {
      float: left;
      margin-right: 11px;
      position: relative; }
      .tb_apps ul li:hover .app_qr {
        display: block; }
    .tb_apps ul img {
      width: 32px;
      height: 32px; }
    .tb_apps ul .app_qr {
      bottom: 39px;
      left: -32px;
      width: 90px;
      height: 90px;
      background: #FFF;
      border: 1px solid #F40;
      text-align: center;
      line-height: 100px;
      font-size: 0;
      display: none;
      position: absolute; }
      .tb_apps ul .app_qr img {
        width: 66px;
        height: 66px;
        padding: 12px; }
      .tb_apps ul .app_qr em {
        position: absolute;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-style: solid;
        border-width: 6px 6px 0;
        border-color: transparent;
        bottom: -6px;
        top: auto;
        left: 50%;
        margin-left: -3px;
        border-top-color: #F40; }
      .tb_apps ul .app_qr span {
        position: absolute;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-style: solid;
        border-width: 6px 6px 0;
        border-color: transparent;
        bottom: -6px;
        top: auto;
        left: 50%;
        margin-left: -3px;
        border-top-color: #FFF;
        bottom: -5px; }

.more {
  position: relative;
  margin-right: 0;
  padding: 0 2px 0 5px;
  border: 1px solid transparent;
  background: #FFF;
  margin-top: -3px\9;
  padding-top: 3px\9;
  margin-right: 10px; }
  .more:hover {
    border-color: #F40;
    background-color: #F40;
    color: #fff;
    transition: all .2s ease-in-out; }
    .more:hover i {
      color: #fff; }
  .more i {
    font-size: 12px;
    color: #DADADA; }

.story {
  border: 1px solid #EEE;
  margin-top: -1px;
  padding: 11px 7px 11px 12px;
  height: 48px;
  overflow: hidden;
  position: relative; }
  .story h3 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *width: 69px;
    *height: 22px;
    font-size: 14px;
    margin-bottom: 7px;
    cursor: pointer; }
  .story strong {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *height: 18px;
    font-size: 9px;
    color: #CCC;
    transform: scale(0.9);
    margin-left: -2px;
    *margin-top: -22px;
    cursor: pointer; }
    .story strong .fl {
      *width: 144px; }
  .story a img {
    width: 100px;
    height: 50px; }
  .story a:hover h3 {
    color: #F40; }
  .story a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }
  .story p:hover a {
    color: #F40; }

.discovery {
  overflow: hidden;
  padding: 20px 14px;
  background-color: #f7f7f7;
  border: 1px solid #E8E8E8;
  margin-top: -1px;
  margin-bottom: 12px; }
  .discovery h3 {
    background-size: 229px 193px;
    background-image: url(../img/Sprite2.png);
    background-repeat: no-repeat;
    background-position: 0 -78px;
    height: 20px;
    overflow: hidden;
    width: 90px;
    height: 20px; }
  .discovery a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }
  .discovery .preference {
    border: 1px solid #FF4300;
    background-color: #fff;
    line-height: 14px;
    padding: 2px 4px;
    transition: background .3s ease-in-out;
    z-index: 2;
    color: #FF4300; }
    .discovery .preference:hover {
      background-color: #F40;
      color: #fff; }
  .discovery ul {
    padding-top: 16px; }
  .discovery li {
    border: 1px solid #EEE;
    padding: 17px 10px 17px 16px;
    margin-top: -1px;
    *margin-top: -4px;
    position: relative;
    overflow: visible;
    height: 100px;
    background-color: #fff; }
    .discovery li:hover .trigger {
      transition: all .3s ease-out;
      height: 30px;
      opacity: 1;
      box-shadow: 0px 1px 1px #ccc;
      filter: alpha(opacity=100);
      *zoom: 1;
      z-index: 100; }
    .discovery li h4 {
      color: #444;
      width: 120px;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      overflow: hidden;
      margin-bottom: 10px;
      margin-top: 4px; }
    .discovery li a {
      display: block; }
    .discovery li span {
      display: block;
      color: #737373;
      margin-bottom: 8px;
      line-height: 20px;
      height: 40px;
      overflow-y: hidden;
      position: relative; }
    .discovery li em {
      display: block;
      color: #444;
      font-weight: 700; }
    .discovery li img {
      width: 100px;
      height: 100px;
      margin-right: 8px; }
  .discovery .item_desc {
    width: 112px; }
  .discovery .trigger {
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    z-index: 4;
    width: 100%;
    height: 0px;
    opacity: 0;
    overflow: hidden; }
    .discovery .trigger .trigger_info {
      height: 30px;
      line-height: 30px;
      background-color: #F5F5F5;
      margin-top: 0; }
    .discovery .trigger a {
      float: left;
      width: 33%;
      text-align: center;
      line-height: 30px; }
      .discovery .trigger a:hover {
        color: #F40; }

.wall {
  padding: 15px;
  *width: 228px;
  border: 1px solid #EEE;
  border-top: 0;
  z-index: 1;
  background-color: #fff; }
  .wall a {
    float: left;
    margin: 2px 3px;
    position: relative;
    height: 74px;
    overflow: hidden; }
    .wall a:hover .wall_item {
      transition: opacity .2s ease-in-out;
      opacity: 1;
      z-index: 2;
      filter: alpha(opacity=100); }
  .wall img {
    width: 70px;
    height: 70px;
    *display: inline;
    *zoom: 1; }

.wall_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 70px;
  text-align: center;
  background-color: #F40;
  z-index: -1;
  overflow: hidden;
  word-break: break-all;
  opacity: 0;
  filter: alpha(opacity=0); }
  .wall_item p {
    width: 50px;
    height: 34px;
    overflow: hidden;
    line-height: 18px;
    margin-top: 8px;
    margin-left: 10px;
    color: #fff; }
  .wall_item .item_count {
    width: 50px;
    color: #fff;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 13px; }

.change a {
  display: block;
  line-height: 35px;
  background: #e9e9e9;
  text-align: center;
  cursor: pointer;
  color: #6C6C6C; }
  .change a:hover {
    color: #3C3C3C; }

.shop {
  margin-top: 8px;
  height: 30px;
  padding-top: 22px; }
  .shop h3 {
    background-position: 0 -98px;
    vertical-align: middle; }
  .shop span {
    margin-left: 10px;
    color: #6C6C6C; }

.shop_good {
  border: 1px solid #e8e8e8;
  margin-top: -1px;
  position: relative;
  background-color: #fff;
  z-index: 1;
  padding: 10px 14px 12px;
  _padding: 10px 10px 12px;
  color: #747474; }
  .shop_good h4 {
    margin-bottom: 10px;
    font-size: 14px;
    width: 170px;
    height: 18px;
    overflow: hidden; }
  .shop_good dd s {
    float: left;
    color: #6c6c6c;
    border-right: 1px solid #EAEAEA;
    padding-right: 6px;
    margin-right: 6px;
    line-height: 14px; }
  .shop_good .none {
    border-right: none;
    padding-right: 0px;
    margin-right: -8px; }
  .shop_good p {
    height: 74px;
    overflow: hidden;
    margin: 10px -5px 0; }
  .shop_good p a {
    float: left;
    margin: 0 5px; }
  .shop_good p img {
    width: 70px;
    height: 70px; }

.channel {
  height: 365px;
  width: 1190px;
  margin: 0 auto; }
  @media screen and (max-width: 1189px) {
    .channel {
      width: 990px; }
      .channel .channel_item {
        width: 308px;
        height: 175px;
        margin-bottom: -1px;
        padding: 14px 10px; }
        .channel .channel_item ul {
          width: 150px; }
        .channel .channel_item .channel_item_img {
          width: 150px; }
          .channel .channel_item .channel_item_img img {
            width: 150px; }
          .channel .channel_item .channel_item_img p {
            width: 130px; }
        .channel .channel_item .channel_extra {
          margin-top: 0;
          margin-left: 4px; }
          .channel .channel_item .channel_extra .pics {
            width: 160px; }
            .channel .channel_item .channel_extra .pics img {
              width: 70px; }
            .channel .channel_item .channel_extra .pics a {
              margin: 0 -1px; } }

.channel_item {
  float: left;
  border: 1px solid #e8e8e8;
  padding: 14px;
  height: 335px;
  width: 169px;
  position: relative;
  z-index: 2;
  margin-left: -1px; }
  .channel_item h3 {
    margin-bottom: 7px;
    height: 20px; }
    .channel_item h3 a {
      font-size: 16px; }
  .channel_item .channel_item_img img {
    width: 169px;
    height: 100px; }
  .channel_item p {
    height: 32px;
    *width: 149px;
    padding: 7px 10px 9px;
    text-align: center;
    background-color: #F5F5F5; }
    .channel_item p strong {
      display: block;
      font-size: 12px;
      height: 15px;
      color: #3C3C3C;
      line-height: 15px;
      margin-bottom: 5px;
      overflow: hidden; }
    .channel_item p span {
      color: #9c9c9c;
      line-height: 13px;
      display: block;
      height: 14px;
      overflow: hidden; }
  .channel_item a:hover strong {
    color: #F40; }
  .channel_item a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }
  .channel_item .channel_extra {
    margin-top: 12px; }
    .channel_item .channel_extra .pics {
      margin-right: -8px; }
      .channel_item .channel_extra .pics a {
        width: 80px;
        margin-right: 8px;
        text-align: center; }
      .channel_item .channel_extra .pics img {
        width: 80px;
        height: 70px; }
      .channel_item .channel_extra .pics strong {
        font-weight: normal;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-top: 4px; }
  .channel_item ul li {
    white-space: nowrap;
    margin-top: 8px;
    overflow: hidden;
    height: 18px;
    line-height: 18px; }
    .channel_item ul li a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      white-space: nowrap;
      margin-right: 2px;
      padding-right: 2px;
      border-right: 1px solid #e1e1e1; }
      .channel_item ul li a span {
        color: #e1e1e1; }
    .channel_item ul li .none {
      border-right: none; }

.guang_wrapper {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto; }
  @media screen and (max-width: 1189px) {
    .guang_wrapper {
      width: 990px; }
      .guang_wrapper .guang_info {
        width: 600px;
        height: 180px;
        overflow: hidden; }
        .guang_wrapper .guang_info img {
          width: 138px; } }
  .guang_wrapper ul li {
    float: left;
    margin-right: 12px;
    position: relative;
    height: 180px; }
    .guang_wrapper ul li img {
      width: 148px;
      height: 180px; }
    .guang_wrapper ul li span {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      text-align: center;
      height: 28px;
      line-height: 28px;
      background-color: rgba(255, 255, 255, 0.8);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#CCFFFFFF', EndColorStr='#CCFFFFFF'); }
    .guang_wrapper ul li a:hover span {
      color: #F40;
      background-color: white; }
  .guang_wrapper a:hover img {
    transition: opacity .2s ease-in-out;
    opacity: .8; }

.guang_hd {
  padding-bottom: 10px;
  margin-top: 15px;
  height: 26px; }
  .guang_hd h3 {
    padding-top: 4px;
    height: 26px; }
    .guang_hd h3 a {
      float: left;
      background-size: 229px 193px;
      background-position: -146px -83px;
      width: 62px;
      height: 20px;
      background-image: url(../img/Sprite2.png);
      background-repeat: no-repeat; }
  .guang_hd .more {
    border: 1px solid #EEE; }

.guang_img {
  width: 180px;
  height: 180px;
  position: relative;
  margin-left: 18px; }
  .guang_img .guang_lb {
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: relative; }
  .guang_img ul {
    position: absolute;
    left: 0; }
    .guang_img ul li {
      float: left;
      margin-right: 0; }
      .guang_img ul li img {
        width: 180px; }
  .guang_img em {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    font-size: 18px;
    font-weight: bold;
    color: #C5C5C5;
    cursor: pointer; }
    .guang_img em:hover {
      color: #F40; }
  .guang_img .left {
    left: -18px; }
  .guang_img .right {
    right: -18px; }

.guang_thumbs {
  padding-right: 14px; }
  .guang_thumbs dl {
    margin-top: 14px; }
    .guang_thumbs dl dd {
      line-height: 24px; }
    .guang_thumbs dl a {
      color: #3C3C3C; }
      .guang_thumbs dl a:hover {
        color: #F40; }
    .guang_thumbs dl span {
      color: #e1e1e1;
      font-weight: bold; }

.channel2 {
  margin-top: 14px;
  height: 265px; }
  .channel2 .channel_item {
    height: 235px; }
    .channel2 .channel_item em {
      display: inline-block;
      width: 100%;
      *display: inline;
      *zoom: 1;
      *width: 169px;
      padding-top: 8px;
      font-weight: normal;
      text-align: center; }
    .channel2 .channel_item a:hover em {
      color: #F40; }
  .channel2 .channel_item_t img {
    width: 169px;
    height: 72px; }
  @media screen and (max-width: 1189px) {
    .channel2 .channel_item {
      width: 308px;
      height: 125px;
      padding: 14px 10px; }
    .channel2 .channel_item_t {
      width: 120px; }
      .channel2 .channel_item_t img {
        width: 120px; } }

.hot_sale .guang_hd h3 {
  font-size: 18px; }
.hot_sale .guang_hd ul {
  padding-top: 10px;
  height: 16px; }
  .hot_sale .guang_hd ul li {
    float: left;
    margin-right: 0;
    height: 14px; }
    .hot_sale .guang_hd ul li a {
      float: left;
      margin-left: -1px;
      margin-bottom: 10px;
      padding: 0 10px;
      height: 14px;
      line-height: 14px;
      border-right: 1px solid #e8e8e8;
      color: #6c6c6c; }
      .hot_sale .guang_hd ul li a:hover {
        color: #F40; }
    .hot_sale .guang_hd ul li .none {
      border-right: none; }
.hot_sale .hot_sale_info {
  height: 401px;
  overflow: hidden; }
  .hot_sale .hot_sale_info li {
    height: auto;
    margin-right: 0; }
    .hot_sale .hot_sale_info li:hover {
      z-index: 2; }
  .hot_sale .hot_sale_info ._hover {
    border: 1px solid #E8E8E8;
    margin-left: -1px;
    position: relative; }
    .hot_sale .hot_sale_info ._hover:hover {
      border: 1px solid #F40;
      z-index: 2; }
      .hot_sale .hot_sale_info ._hover:hover .bg_item {
        z-index: 2;
        opacity: 0.9;
        filter: alpha(opacity=90); }
  .hot_sale .hot_sale_info .bg {
    padding: 10px 8px 0 10px;
    position: relative; }
  .hot_sale .hot_sale_info .bg_item {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
    text-align: left;
    background-color: #F40;
    z-index: -1;
    overflow: hidden;
    word-break: break-all;
    opacity: 0;
    filter: alpha(opacity=0); }
    .hot_sale .hot_sale_info .bg_item p {
      width: 100%;
      font-size: 14px;
      color: #fff; }
    .hot_sale .hot_sale_info .bg_item .item_count {
      padding: 5px 24px;
      background-color: #fff;
      color: #F40;
      border-radius: 6px;
      margin-top: 6px; }
  .hot_sale .hot_sale_info .line1 {
    padding-left: 10px;
    line-height: 18px;
    overflow: hidden;
    margin: 14px 0 3px 0; }
    .hot_sale .hot_sale_info .line1 a {
      color: #f40;
      float: left;
      font-weight: 700;
      font-family: arial;
      font-size: 16px; }
    .hot_sale .hot_sale_info .line1 s {
      color: #F40; }
  .hot_sale .hot_sale_info .line2 {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    padding-left: 10px; }
    .hot_sale .hot_sale_info .line2 a {
      background-color: #8CBF4C;
      float: left;
      padding: 0px 2px 1px;
      margin-right: 2px;
      color: #fff;
      font-size: 10px;
      -webkit-transform: scale(0.9); }
    .hot_sale .hot_sale_info .line2 .product {
      background-color: #FC461E; }
    .hot_sale .hot_sale_info .line2 .volume {
      color: #9c9c9c;
      background-color: transparent;
      font-size: 12px;
      -webkit-transform: scale(1); }
  .hot_sale .hot_sale_info .line3 {
    padding-left: 10px;
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
    width: 214px; }
    .hot_sale .hot_sale_info .line3 a {
      color: #6c6c6c; }
  .hot_sale .hot_sale_info .line4 {
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px; }
    .hot_sale .hot_sale_info .line4 a {
      color: #9c9c9c; }
  .hot_sale .hot_sale_info .big {
    margin-left: 1px; }
    .hot_sale .hot_sale_info .big ._hover {
      height: 399px; }
    .hot_sale .hot_sale_info .big .bg_item {
      padding-top: 138px;
      width: 222px;
      height: 86px; }
    .hot_sale .hot_sale_info .big img {
      width: 214px;
      height: 214px; }
    .hot_sale .hot_sale_info .big .line4 {
      width: 220px; }
  .hot_sale .hot_sale_info .small {
    width: 162px; }
    .hot_sale .hot_sale_info .small ._hover {
      width: 162px;
      padding-bottom: 7px;
      margin-bottom: -1px;
      margin-right: -1px; }
    .hot_sale .hot_sale_info .small .line1 {
      margin-top: 8px;
      margin-bottom: 1px; }
    .hot_sale .hot_sale_info .small img {
      width: 139px;
      height: 139px; }
    .hot_sale .hot_sale_info .small .bg_item {
      width: 152px;
      padding-top: 80px;
      height: 70px; }
@media screen and (max-width: 1189px) {
  .hot_sale .guang_hd ul {
    width: 880px;
    overflow: hidden; }
  .hot_sale .hot_sale_info .big {
    width: 228px; }
  .hot_sale .hot_sale_info .big .bg_item {
    width: 217px; }
  .hot_sale .hot_sale_info .bg {
    padding: 10px 4px 0 4px; }
  .hot_sale .hot_sale_info .small {
    width: 150px; }
    .hot_sale .hot_sale_info .small ._hover {
      width: 150px; }
      .hot_sale .hot_sale_info .small ._hover .bg_item {
        width: 140px; }
  .hot_sale dl dd {
    padding: 8px; } }
.hot_sale dl {
  margin-left: 1px; }
.hot_sale dd {
  float: left;
  width: 31.5%;
  position: relative;
  padding: 10px;
  margin-left: -1px;
  border: 1px solid #E8E8E8;
  margin-top: -1px;
  position: relative; }
  .hot_sale dd img {
    width: 100%; }
  .hot_sale dd dd:hover {
    z-index: 2; }
  .hot_sale dd a:hover img {
    transition: none;
    opacity: 1; }

.like {
  width: 1190px;
  margin: 50px auto;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative; }
  .like h3 {
    left: 50%;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: -10px;
    width: 114px;
    line-height: 20px;
    margin-left: -57px;
    letter-spacing: 6px;
    text-indent: 6px;
    background: #FFF;
    color: #3c3c3c; }
  .like ul {
    margin-right: -20px; }
    .like ul li {
      float: left;
      margin-top: 28px;
      margin-right: 20px;
      background-color: #f5f5f5;
      color: #6c6c6c;
      width: 222px;
      height: 302px;
      overflow: hidden;
      position: relative; }
      .like ul li a:hover img {
        transition: opacity .2s ease-in-out;
        opacity: .8; }
      .like ul li a:hover span {
        color: #3C3C3C; }
      .like ul li img {
        width: 220px;
        height: 220px; }
      .like ul li p {
        line-height: 18px;
        padding: 3px 12px;
        color: #6c6c6c;
        transition: color .3s; }
      .like ul li em {
        display: block;
        margin-top: 10px; }
        .like ul li em dfn {
          color: #F40;
          font-weight: bold; }
        .like ul li em i {
          color: #9ca0aa; }
  @media screen and (max-width: 1189px) {
    .like {
      width: 990px;
      overflow: hidden; } }
  .like .hotsale_end {
    position: absolute;
    bottom: -10px;
    color: #ccccd0;
    width: 84px;
    line-height: 20px;
    margin-left: -42px;
    background: #FFF;
    left: 50%;
    font-style: normal;
    text-align: center;
    font-size: 18px; }

footer {
  width: 1190px;
  margin: 0 auto; }
  @media screen and (max-width: 1189px) {
    footer {
      width: 990px;
      overflow: hidden; } }

.helper {
  height: 140px; }
  .helper dd {
    display: inline-block;
    margin-right: -1px;
    width: 25%;
    *display: inline;
    *zoom: 1; }
  .helper h4 {
    margin-bottom: 5px;
    margin-left: 12px;
    font-size: 16px;
    color: #3C3C3C; }
    .helper h4 i {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 40px;
      height: 40px;
      background-image: url(../img/footer.jpg);
      background-repeat: no-repeat;
      vertical-align: middle;
      margin-right: 12px;
      margin-top: -8px; }
  .helper .newbies i {
    background-position: 0 -44px; }
  .helper .payment i {
    background-position: 0 -87px; }
  .helper .tb_feature i {
    background-position: 0 -130px; }
  .helper .mod_wrap {
    padding: 0 25px;
    border-right: 1px solid #EEE; }
  .helper .none_br {
    width: 24%; }
    .helper .none_br .mod_wrap {
      border-right: none; }
  .helper p {
    line-height: 22px;
    word-break: normal;
    height: 44px; }
    .helper p a {
      width: auto;
      display: inline-block;
      color: #9C9C9C;
      margin-right: 10px;
      word-break: normal; }
      .helper p a:hover {
        color: #F40; }

.foot {
  width: 100%;
  border-top: 2px solid #ff5400;
  min-height: 140px; }
  .foot .link {
    padding: 14px 0 10px;
    *padding: 6px 0 10px;
    border-bottom: 1px solid #E8E8E8;
    border-color: #ddd; }
    .foot .link a {
      border-right: 1px solid #E2E2E2;
      padding: 0 10px; }
    .foot .link li {
      *padding-top: 10px; }
    .foot .link .none {
      border-right: none; }
      .foot .link .none em {
        float: none; }
  .foot .about {
    padding-top: 14px; }
    .foot .about a {
      padding: 0 4px; }
    .foot .about em {
      margin-left: 30px; }
  .foot .other em {
    float: left;
    line-height: 14px; }
  .foot .other a {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #E2E2E2;
    margin-bottom: 0; }
  .foot em {
    white-space: nowrap;
    color: #9C9C9C; }
  .foot li {
    float: left; }
  .foot a {
    float: left;
    color: #6c6c6c;
    *display: inline;
    *zoom: 1;
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px; }
    .foot a:hover {
      color: #F40; }
  .foot p {
    margin-top: -6px; }
  .foot .foot_tb {
    padding-top: 10px; }
    .foot .foot_tb a {
      height: 40px;
      background-image: url(../img/Sprite3.png);
      background-repeat: no-repeat;
      margin-bottom: 0;
      margin-right: 15px; }
    .foot .foot_tb .itme1 {
      width: 30px;
      background-position: 0 -140px; }
    .foot .foot_tb .itme2 {
      width: 33px;
      background-position: -40px -140px; }
    .foot .foot_tb .itme3 {
      width: 50px;
      background-position: -80px -140px; }
    .foot .foot_tb .itme4 {
      width: 83px;
      background-position: -140px -140px; }
    .foot .foot_tb .itme5 {
      width: 94px;
      background-position: -240px -140px; }
    .foot .foot_tb .itme6 {
      width: 214px;
      background-position: -431px -140px; }
    .foot .foot_tb .itme7 {
      width: 105px;
      background-position: -650px -140px; }
    .foot .foot_tb .itme8 {
      width: 82px;
      background-position: -345px -140px; }

/*# sourceMappingURL=taobao.css.map */
